<div class="post col-md-6 col-sm-12">
<div class="header">
  <a class="author" href="/view-profile?username=">
	<img width="64" height="64" src="/images/avatar.jpg" />
	<span class="glyphicon glyphicon-user"></span> mislav
  </a>
  <span class="date-time">
	<span class="glyphicon glyphicon-time"></span> 5.11.2015. 12:50
  </span>
</div>
<div class="content">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu pulvinar erat. Nullam consequat rutrum orci in molestie. Aliquam volutpat enim non arcu pretium tempor. Curabitur eget tempor nulla. Aliquam sit amet sem ipsum. Nam sed congue nibh, et suscipit arcu. Cras non risus eu elit elementum tempor maximus id diam. Nam sit amet volutpat odio, quis fermentum nibh.

  Sed faucibus consequat scelerisque. Mauris elementum aliquam risus a laoreet. Integer a lacus at nisi aliquam accumsan. Cras in vulputate velit. Etiam augue quam, ullamcorper et iaculis vel, luctus eu nisl. Morbi finibus dignissim ante, quis faucibus justo. Nullam nec tellus vestibulum, tempus magna non, ultrices lectus.
</div>
<ul class="actions">
  <li>
	<a href="#" class="like">
	  <span class="glyphicon glyphicon-check"></span> Like
	</a>
  </li>
  <li>
	<a href="#" class="remove">
	  <span class="glyphicon glyphicon-trash"></span> Remove
	</a>
  </li>
  <li>
	<a href="#" class="comment">
	  <span class="glyphicon glyphicon-comment"></span> Comment
	</a>
  </li>
</ul>
</div>

<div class="post col-md-6 col-sm-12">
<div class="header">
  <a class="author" href="/view-profile?username=">
	<img width="64" height="64" src="/images/avatar.jpg" /><span class="glyphicon glyphicon-user"></span> andrija
  </a>
  <span class="date-time">
	<span class="glyphicon glyphicon-time"></span> 2.11.2015. 23:00
  </span>
</div>
<div class="content">
  Sed faucibus consequat scelerisque. Mauris elementum aliquam risus a laoreet. Integer a lacus at nisi aliquam accumsan. Cras in vulputate velit. Etiam augue quam, ullamcorper et iaculis vel, luctus eu nisl. Morbi finibus dignissim ante, quis faucibus justo. Nullam nec tellus vestibulum, tempus magna non, ultrices lectus.
</div>
<ul class="actions">
  <li>
	<a href="#" class="like">
	  <span class="glyphicon glyphicon-check"></span> Like
	</a>
  </li>
  <li>
	<a href="#" class="remove">
	  <span class="glyphicon glyphicon-trash"></span> Remove
	</a>
  </li>
  <li>
	<a href="#" class="comment">
	  <span class="glyphicon glyphicon-comment"></span> Comment
	</a>
  </li>
</ul>
</div>

<div class="post col-md-6 col-sm-12">
<div class="header">
  <a class="author" href="/view-profile?username=">
	<img width="64" height="64" src="/images/avatar.jpg" />
	<span class="glyphicon glyphicon-user"></span> katarina
  </a>
  <span class="date-time">
	<span class="glyphicon glyphicon-time"></span> 1.11.2015. 13:50
  </span>
</div>
<div class="content">
  Sed faucibus consequat scelerisque. Nullam nec tellus vestibulum, tempus magna non, ultrices lectus.
</div>
<ul class="actions">
  <li>
	<a href="#" class="like">
	  <span class="glyphicon glyphicon-check"></span> Like
	</a>
  </li>
  <li>
	<a href="#" class="remove">
	  <span class="glyphicon glyphicon-trash"></span> Remove
	</a>
  </li>
  <li>
	<a href="#" class="comment">
	  <span class="glyphicon glyphicon-comment"></span> Comment
	</a>
  </li>
</ul>
</div>

<div class="post col-md-6 col-sm-12">
<div class="header">
  <a class="author" href="/view-profile?username=">
	<img width="64" height="64" src="/images/avatar.jpg" />
	<span class="glyphicon glyphicon-user"></span> mate
  </a>
  <span class="date-time">
	<span class="glyphicon glyphicon-time"></span> 25.10.2015. 11:20
  </span>
</div>
<div class="content">
  Integer a lacus at nisi aliquam accumsan. Cras in vulputate velit. Etiam augue quam, ullamcorper et iaculis vel, luctus eu nisl. Morbi finibus dignissim ante, quis faucibus justo.
</div>
<ul class="actions">
  <li>
	<a href="#" class="like">
	  <span class="glyphicon glyphicon-check"></span> Like
	</a>
  </li>
  <li>
	<a href="#" class="remove">
	  <span class="glyphicon glyphicon-trash"></span> Remove
	</a>
  </li>
  <li>
	<a href="#" class="comment">
	  <span class="glyphicon glyphicon-comment"></span> Comment
	</a>
  </li>
</ul>
</div>

<div class="post col-md-6 col-sm-12">
<div class="header">
  <a class="author" href="/view-profile?username=">
	<img width="64" height="64" src="/images/avatar.jpg" />
	<span class="glyphicon glyphicon-user"></span> domagoj
  </a>
  <span class="date-time">
	<span class="glyphicon glyphicon-time"></span> 5.11.2015. 12:50
  </span>
</div>
<div class="content">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu pulvinar erat. Nullam consequat rutrum orci in molestie. Aliquam volutpat enim non arcu pretium tempor. Curabitur eget tempor nulla. Aliquam sit amet sem ipsum. Nam sed congue nibh, et suscipit arcu. Cras non risus eu elit elementum tempor maximus id diam. Nam sit amet volutpat odio, quis fermentum nibh.

  Sed faucibus consequat scelerisque. Mauris elementum aliquam risus a laoreet. Integer a lacus at nisi aliquam accumsan. Cras in vulputate velit. Etiam augue quam, ullamcorper et iaculis vel, luctus eu nisl. Morbi finibus dignissim ante, quis faucibus justo. Nullam nec tellus vestibulum, tempus magna non, ultrices lectus.
  <img src="/images/512px-Capitol_Building_Side2.jpg" />
</div>
<ul class="actions">
  <li>
	<a href="#" class="like">
	  <span class="glyphicon glyphicon-check"></span> Like
	</a>
  </li>
  <li>
	<a href="#" class="remove">
	  <span class="glyphicon glyphicon-trash"></span> Remove
	</a>
  </li>
  <li>
	<a href="#" class="comment">
	  <span class="glyphicon glyphicon-comment"></span> Comment
	</a>
  </li>
</ul>
</div>